            <div class="niu2-right-container col-md-2">
                <div id="niu2-sidebar-meta" class="niu2-sidebar">
                    {% if NIUX2_AUTHOR_LINK %}
                    <div class="niu2-sidebar-label"><i class="icon-user" style="font-size: 1.05em;"></i>{{ NIUX2_AUTHOR_TRANSL | default("Author") }}:</div>
                    <div class="niu2-sidebar-value"><a rel="author" href="{{ NIUX2_AUTHOR_LINK | default(SITEURL) }}">{{ AUTHOR }}</a></div>
                    {% endif %}
                    <div class="niu2-sidebar-label"><i class="icon-calendar"></i>{{ NIUX2_PUBLISHED_TRANSL | default("Published") }}:</div>
                    <div class="niu2-sidebar-value">{{ article.date.strftime("%Y-%m-%d %H:%M") }}</div>
                    {% if article.updatedate and article.updatedate != article.date %}
                    <div class="niu2-sidebar-label"><i class="icon-pencil" style="font-size: 1.05em;"></i>{{ NIUX2_LASTMOD_TRANSL | default("Last modified") }}:</div>
                    <div class="niu2-sidebar-value">{{ article.updatedate.strftime("%Y-%m-%d %H:%M") }}</div>
                    {% endif %}
                    {% if NIUX2_CATEGORY_MAP and NIUX2_CATEGORY_MAP[article.category] %}
                    <div class="niu2-sidebar-label"><i class="{{ NIUX2_CATEGORY_MAP[article.category][1] }}"></i>{{ NIUX2_CATEGORY_TRANSL | default("Category") }}:</div>
                    <div class="niu2-sidebar-value"><a href="{{ SITEURL }}/{{ article.category.url }}">{{ NIUX2_CATEGORY_MAP[article.category][0] }}</a></div>
                    {% else %}
                    <div class="niu2-sidebar-label"><i class="icon-open-folder"></i>{{ NIUX2_CATEGORY_TRANSL | default("Category") }}:</div>
                    <div class="niu2-sidebar-value"><a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a></div>
                    {% endif %}
                    <div class="niu2-sidebar-label"><i class="icon-tag"></i>{{ NIUX2_TAG_TRANSL | default("Tag") }}:</div>
                    {% if article.tags -%} 
                        {% set tag_count = {} %}
                        {% for tag, article_list in tags %}
                            {% do tag_count.update({tag: article_list | count}) %}
                        {% endfor %}
                        {% for tag in article.tags %}
                    <div class="niu2-sidebar-inter-value niu2-sidebar-tag"><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a><sup>{{ tag_count[tag] }}</sup></div>
                        {% endfor %}
                    {% endif %}
                </div>

                {% if article.metadata['toc'] is not defined or article.metadata['toc'] != 'closed' %}
                <div id="niu2-sidebar-toc" class="niu2-sidebar" data-status="closed">
                    {% if article %}
                    <div class="niu2-sidebar-label">
                        <i id="niu2-sidebar-toc-ctrl" class="icon-open-tocs"></i>{{ NIUX2_HEADER_TOC_TRANSL | default("TOC") }}
                    </div>
                    {% set toc_list_type = MY_TOC_LIST_TYPE if MY_TOC_LIST_TYPE else 'ul' %}
                    <{{ toc_list_type }} id="niu2-sidebar-toc-list">
                        <li><a href="#content-heading">{{ article.title }}</a></li>
                        {{ article.html_toc }}
                        {% if (article.metadata['comment'] is not defined) or (article.metadata['comment'] | trim | upper == 'ON') %}
                        {% if DISQUS_SITENAME or NIUX2_DUOSHUO_SHORTNAME %}
                        <li><a href="#content-comments">{{ NIUX2_COMMENTS_TRANSL | default("Comments") }}</a></li>
                        {% endif %}
                        {% endif %}
                    </{{ toc_list_type }}>
                    {% endif %}
                </div>
                {% endif %}
            </div>

