                    <!-- Disqus -->
                    {% set thread_key = content.slug %}
                    <div id="disqus_thread"></div>
                    <script>
                        var disqus_config = function () {
                            this.page.url = '{{ content._context['SITEURL'] }}/{{ content.url }}';
                            this.page.identifier = '{{ thread_key }}';
                        };
                        (function() {  // DON'T EDIT BELOW THIS LINE
                                var d = document, s = d.createElement('script');
                                s.src = '//{{ content.settings['DISQUS_SITENAME'] }}.disqus.com/embed.js';
                                s.setAttribute('data-timestamp', +new Date());
                                (d.head || d.body).appendChild(s);
                        })();
                    </script>
                    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
