{% extends "base.html" %}

{% block seo_meta %}
        {% if page.tags %}
        <meta name="keywords" content="{{ page.tags | join(', ') }}">
        {% endif %}
        {% if page.metadata['desc'] is defined %}
        <meta name="description" content="{{ page.metadata['desc'] }}">
        {% endif %}
{% endblock seo_meta %}

{% block title %}{{ page.title }} - {{ super() }}{% endblock %}
{% block head_init -%}
    {{ super() }}        <link rel="canonical" href="{{ SITEURL }}/{{ page.url }}" />
{% endblock %}

{% block js_on_body_ready %}
            onContentLoaded();
{% endblock js_on_body_ready %}

{% block content %}
            <div class="col-md-8 col-md-offset-2">
                {% if (NIUX2_DISPLAY_TITLE is not defined) or NIUX2_DISPLAY_TITLE %}
                <h1 id="content-heading">{{ page.title }}</h1>
                {% endif %}
            </div>
            <div id="niu2-left-container" class="col-md-6 col-md-offset-2 with-right-border">
                <div id="niu2-main-content">
                    {{ page.content }}
                </div>
                {% from "comments_wrapper.html" import niu2_comments %}
                {{ niu2_comments(page) }}
            </div> 
            <div class="niu2-right-container col-md-2">
                {% include "page_sidebar.html" %}
            </div>
            {% include "toolbar.html" %}
            <div id="niu2-toc" data-style="{{ page.metadata['toc'] | default('fixed') }}"></div>
{% endblock %}
