            <div id="niu2-sidebar-meta" class="niu2-sidebar">
                {% if NIUX2_AUTHOR_LINK %}
                <div class="niu2-sidebar-label"><i class="icon-user" style="font-size: 1.05em;"></i>{{ NIUX2_AUTHOR_TRANSL | default("Author") }}:</div>
                <div class="niu2-sidebar-value"><a rel="author" href="{{ NIUX2_AUTHOR_LINK | default(SITEURL) }}">{{ AUTHOR }}</a></div>
                {% endif %}
                <div class="niu2-sidebar-label"><i class="icon-calendar"></i>{{ NIUX2_PUBLISHED_TRANSL | default("Published") }}:</div>
                <div class="niu2-sidebar-value">{{ page.date.strftime("%Y-%m-%d %H:%M") }}</div>
                {% if page.updatedate %}
                <div class="niu2-sidebar-label"><i class="icon-pencil" style="font-size: 1.05em;"></i>{{ NIUX2_LASTMOD_TRANSL | default("Last modified") }}:</div>
                <div class="niu2-sidebar-value">{{ page.updatedate.strftime("%Y-%m-%d %H:%M") }}</div>
                {% endif %}
            </div>

            {% if page.metadata['toc'] is not defined or page.metadata['toc'] != 'closed' %}
            <div id="niu2-sidebar-toc" class="niu2-sidebar" data-status="closed">
                {% if page %}
                <div class="niu2-sidebar-label">
                    <i id="niu2-sidebar-toc-ctrl" class="icon-open-tocs"></i>{{ NIUX2_HEADER_TOC_TRANSL | default("TOC") }}
                </div>
                <ol id="niu2-sidebar-toc-list">
                    <li><a href="#content-heading">{{ page.title }}</a></li>
                    {{ page.html_toc }}
                    {% if (page.metadata['comment'] is not defined) or (page.metadata['comment'] | trim | upper == 'ON') %}
                    {% if DISQUS_SITENAME or NIUX2_DUOSHUO_SHORTNAME %}
                    <li><a href="#content-comments">{{ NIUX2_COMMENTS_TRANSL | default("Comments") }}</a></li>
                    {% endif %}
                    {% endif %}
                </ol>
                {% endif %}
            </div>
            {% endif %}

